<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div>
        {{>header}}
        <p>Made by ME the creator of things</p>
        <img class="portrait"src="/img/hedonbite.png" />
    </div>
    {{>footer}}
</body>

</html>