<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div>
        {{>header}}
        <p>Code 822 {{help1}}</p>
        <p>Code 798.1 {{help2}}</p>
        <p>Code 8675309 {{help3}}</p>
    </div>
    {{>footer}}
</body>

</html>